<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('partials/navbar.ejs') %>

  <div data-spy="scroll" data-target="#navbar" data-offset="0">
  <%- include('./partials/recommendations.ejs', { data: data }) %>
    
    
  </div>

 <script>
  document.addEventListener("DOMContentLoaded", function () {
    

    const strings = JSON.parse('<%- JSON.stringify(array) %>');
   

    var typed = new Typed(".aboutMe", {
      strings: strings,
      typeSpeed: 100,
      backSpeed: 100,
      smartBackspace: true,
      loop: true
    });
  });
</script>


</body>
</html>